body{
    font-family: "SUSE", sans-serif;
    background-image: url("https://i.pinimg.com/1200x/73/84/e6/7384e63ac1fd7dcb8a355aadb8c9dd0c.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

.Downloads{
    font-size: xx-large;
}

.Logo{
    font-size: x-small;
}

img{
    height: 200px;
    margin: 4px;
    padding: 30px;
}

h1{
    font-size: xx-large;
}

h3{
    font-size: xx-large;
    color: darkred;
}
